# 1.MoviesList
  Create a list of your favorite movies and print it. Then, append a new     movie to the list and print the updated list.

In [40]:
moviesList = ['shawshanks redemption','godfather','the pianist']
print(moviesList)

['shawshanks redemption', 'godfather', 'the pianist']

In [41]:
moviesList.append('Alice in Wonderland')

In [42]:
print(moviesList)

['shawshanks redemption', 'godfather', 'the pianist', 'Alice in Wonderland']

# 2.Sum of integers in a list
Create a list of integers from 1 to 10 and print it. Calculate the sum of all the numbers in
the list and print the result.

In [6]:
integers = [1,2,3,4,5,6,7,8,9,10]
print(integers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [11]:
print(sum(integers))

55

# 3.
Create a list of mixed data types including strings, integers, and floats and print it. Remove
the first element from the list and print the modified list.

In [9]:
mixedList = ['Subodh',21,24.50,'kathmandu']
print(mixedList)

['Subodh', 21, 24.5, 'kathmandu']

In [10]:
modifiedList = mixedList.pop(0)

In [13]:
print(modifiedList)
print(mixedList)

Subodh
[21, 24.5, 'kathmandu']

# 4.
Create a tuple containing the names of the days of the week and print it. Access and print
the name of the third day.

In [14]:
days = ('Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday')
print(days)

('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday')

In [15]:
Third_day = days[2]
print(Third_day)

Tuesday

# 5.
Create a tuple of your favorite colors and print it. Check if a certain color is present in the
tuple and print the result.

In [23]:
colors = ('red','green','white','black','pink') 
check_color ='pink'
if check_color in colors:
    print(f'{check_color} is present')
else:
    print(f'{check_color} is absent')

pink is present

# 6.
Create a dictionary representing the information of a book with keys "title", "author", and
"year" and print it. Update the year of the book and print the updated dictionary.

In [24]:
book = {'title':'Crime and punishment',
       'Author':'Fyodor Dostoevsky',
       'Year':1890}
print(book)

{'title': 'Crime and punishment', 'Author': 'Fyodor Dostoevsky', 'Year': 1890}

In [27]:
book['Year']=1880

In [28]:
print(book)

{'title': 'Crime and punishment', 'Author': 'Fyodor Dostoevsky', 'Year': 1880}

## 7.
Create a dictionary containing the names of fruits as keys and their corresponding colors
as values and print it. Add a new fruit-color pair to the dictionary and print the updated
dictionary.

In [29]:
fruits = {'pomergranate':'red',
         'watermelon':'red & green & black',
         'banana':'pink',
         'haru':'red'}
print(fruits)

{'pomergranate': 'red', 'watermelon': 'red & green & black', 'banana': 'pink', 'haru': 'red'}

In [30]:
fruits.update({'strawberry':'red'})

In [31]:
print(fruits)

{'pomergranate': 'red', 'watermelon': 'red & green & black', 'banana': 'pink', 'haru': 'red', 'strawberry': 'red'}

## 8.
Create a dictionary representing the population of different cities with keys as city names
and values as population numbers and print it. Remove a city from the dictionary and print
the modified dictionary.

In [34]:
city = {'Buenos Aires':653087594,
       'Kathmandu':9000000,
       'Bariloche':984622,
       'novito':3000000000000}
print(city)

{'Buenos Aires': 653087594, 'Kathmandu': 9000000, 'Bariloche': 984622, 'novito': 3000000000000}

In [36]:
del city['Kathmandu']

In [37]:
print(city)

{'Buenos Aires': 653087594, 'Bariloche': 984622, 'novito': 3000000000000}